fastapi==0.111.0
uvicorn==0.30.1
pydantic==2.7.4
pydantic-settings==2.3.4
SQLAlchemy==2.0.31
asyncpg==0.29.0
alembic==1.13.1
python-dotenv==1.0.1
azure-servicebus>=7.11.4
pgvector>=0.2.0
redis>=5.0.0
aiofiles>=23.2.1
python-multipart>=0.0.9
httpx>=0.27.0
azure-storage-blob>=12.19.0
google-generativeai>=0.5.4
